<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CountSquaresInWidth" value="32" />
    <add key="CountSquaresInHeight" value="18" />
    
    
    
    <add key="WindowSizeOneSquare" value="56" />
    <add key="FilePathForLevels" value= "..\..\..\..\Coin Wave Lib\data\maps\lvl" />
  </appSettings>
</configuration>